<!DOCTYPE html>
<html>
    <head>
        <title>Pocket</title>
        <meta charset="UTF-8">
        <meta name="author" content="Adam McKinlay, amckinlay@mylambton.ca">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../images/LogoMakr_7KL1qX.png" type="image/png" sizes="16x16">
        
        <!-- CSS -->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="../css/styles.css" rel="stylesheet" type="text/css"/>
        <link href="../css/mortgage.css" rel="stylesheet" type="text/css"/>
        
        <!-- JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="../js/main.js" type="text/javascript"></script>
    </head>
    <body>
        <!--Mobile Menu Access-->
        <header id="mobile_nav" class="mobile">
            <div class="mobile_nav_contain mobile">
                <div>
                    <div class="mobile_menu_icon" onclick="openCloseMenu(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                </div>
                <div><div><img id="nav_logo" src="../images/LogoMakr_7KL1qX.png" alt="Logo"></div></div><!--Might need to put in div and center???-->
                <div><a href="../login.html"><i id="user_login" class="fa fa-user fa-3x"></i></a></div>
            </div>
        </header>
        
        <!--Mobile Menu-->
        <div id="mobile_menu" class="mobile">
            <ul class="mobile">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../login.html">Login</a></li>
                <li id="person_sub" onclick="openPersonalSub(this)">Personal</li>
                <li class="subp"><a href="accounts.html">Accounts</a></li>
                <li class="subp"><a href="investing.html">Investing</a></li>
                <li class="subp"><a href="mortgage.html">Mortgage</a></li>
                <li class="subp"><a href="student.html">Student</a></li>
                <li class="subp"><a href="retirement.html">Retirement</a></li>
                <li id="bus_sub" onclick="openBusinessSub(this)">Business</li>
                <li class="subb"><a href="../business/accounts.html">Accounts</a></li>
                <li class="subb"><a href="../business/entrepreneur.html">Entrepreneur</a></li>
                <li class="subb"><a href="../business/agriculture.html">Agriculture</a></li>
                <li class="subb"><a href="../business/services.html">Services</a></li>
                <li><a href="../community.html">Community</a></li>
            </ul>
        </div>
        
        <!--Desktop Navbar-->
        <header>
            <div id="header" class="tablet">
                <div id="menu">
                    <div id="main_nav_logo"><img src="../images/LogoMakr_7KL1qX.png" alt=""/></div>
                    
                    <div id="nav">
                        <a href="../index.html">Home</a>
                        <a href="../login.html">Login</a>
                        <a id="personal_drop" class="dropdown" onclick="navTabOpen('desk_personal_drop_items')">Personal</a>
                        <a id="business_drop" class="dropdown" onclick="navTabOpen('desk_business_drop_items')">Business</a>
                        <a href="../community.html">Community</a>
                    </div>
                    <div id="user_login_main"><a href="../login.html"><i id="user_login" class="fa fa-user fa-4x"></i></a></div>
                </div>
                
                <!--Subnav-->
                <div id="desk_personal_drop_items" class="dropdown-content">
                    <a href="accounts.html">Accounts</a>
                    <a href="investing.html">Investing</a>
                    <a href="mortgage.html">Mortgage</a>
                    <a href="student.html">Student</a>
                    <a href="retirement.html">Retirement</a>
                </div>
                <div id="desk_business_drop_items" class="dropdown-content">
                    <a href="../business/accounts.html">Accounts</a>
                    <a href="../business/entrepreneur.html">Entrepreneur</a>
                    <a href="../business/agriculture.html">Agriculture</a>
                    <a href="../business/services.html">Services</a>
                </div>
                
            </div>
        </header>
        
        <div id="home_section">
            <div id="mobile_banner">
                <img src="../images/background1.jpg" alt=""/>
                <div class="text_block">
                    <h3>Buying a home?</h3>
                    <p>A home holds enough memories to last a life time. Those memories are precious. Whether you are starting to build
                       memories and looking to build new ones, were here to help. Our Advisors will help walk to through each stage of
                       buying a home. We will be there to help begin saving for a new home and will be there when your mortgage is paid
                       off. When your mortgage is paid, expect our Pocket Mortgage Surprise in the mail. No, this is no surprise fee, but
                       rather a congratulatory package celebrating your milestone achievement. At Pocket, everything is worth celebrating.</p>
                </div>
            </div>
            
            <div id="mortgage_cal">
                <h2>Take a glimpse</h2>
                <p>Our mortgage calculator is a tool to help see where you stand on your journey to a new home. Follow up with one of our 
                   advisors to put a plan into action.</p>
            
                <div class="containter">
                    <form>
                        <label for="askingPrice">Asking Price for Property?</label>
                        <div class="form_line">
                            <input type="number" id="askingPrice">
                        </div>

                        <label for="downPay">How much are you putting down?</label>
                        <div class="form_line">
                            <input type="number" id="downPay">
                        </div>

                        <label for="years">How many years do you plan to have the mortgage?</label>
                        <div class="form_line">
                            <input type="number" id="years">
                        </div>

                        <label for="paymentFreq">How would you like your payment frequency?</label>
                        <div class="form_line">
                            <input type="text" id="paymentFreq">
                        </div>

                        <label for="mortgageTerm">What term were you looking for?</label>
                        <div class="form_line">
                            <input type="number" id="mortgageTerm">
                        </div>

                        <!--Remember Rate-->
                        <!--Remember Display Total mortgage cost and payments per cycle-->

                        <div id="form_line6">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                
                <div id="mortgage_cal_resp">
                    
                </div>
            </div>
            
            <div id="summary">
                <h2>Contact Today</h2>
                <p>Give our Advisors a call to see what opportunities await you on your journey to your new home</p>
            </div>
            
            <!--Page Counter-->
            <div id="page_counter">
                <p>Page views: <a th:text="${views}"></a></p>
            </div>
        
            <!--Footer-->
            <footer id="mobile_footer" class="mobile">
                <ul>
                    <li><a href="amckinlay@mylambton.ca">Request Information</a></li>
                    <li>Adam McKinlay &nbsp; c0656685</li>
                    <li>© Copyright 2019 Pocket, All Rights Reserved</li>
                </ul>
            </footer>
            
            <footer id="desktop_footer" class="desktop">
                <div id="social">
                    <a href="https://www.facebook.com/"><i id="user_login" class="fa fa-facebook-square fa-4x"></i></a>
                    <a href="https://www.linkedin.com/in/adam-mckinlay-812702193/"><i id="user_login" class="fa fa-linkedin-square fa-4x"></i></a>
                    <a href="https://www.instagram.com/"><i id="user_login" class="fa fa-instagram fa-4x"></i></a>
                    <a href="https://twitter.com/"><i id="user_login" class="fa fa-twitter fa-4x"></i></a>
                    <a href="https://github.com/amckinlay27"><i id="user_login" class="fa fa-github fa-4x"></i></a>
                </div>
                
                <div id="footer_info">
                    <h4>Adam McKinlay: c0656685</h4>
                    <a href="mailto:amckinlay@mylambton.ca">Request Information</a>
                    <a href="https://github.com/amckinlay27">More Projects</a>
                </div>                    
            </footer>
        </div>
    </body>
</html>
